<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

  </head>
  <body>

  </body>
</html>
<style media="screen">
  body {
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;}


  input[type=email],input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    left:90px;
    position:relative;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }




  .container {
    border-radius: 15px 50px;

    padding: 16px;
    position: absolute;
    top: 200px;
    left:700px;
    width: 300px;
    height: 200px;
    display:inline-block;
  }

  span.psw {
    float: right;
    padding-top: 16px;
  }

  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }

  }


</style>
<body>
<%= form_for(@users) do |f| %>


  <div class="container">
    <%= flash[:already]%>
    <%=flash[:error]%>
    <br>
    <%= f.label :email_id %><br>
    <%= f.email_field :email_id,placeholder: "Enter Email ",autofocus: true,required:true%>

    <%= f.label :user_name %><br>
    <%= f.text_field :user_name,placeholder:"Enter Name ",autofocus: true,required:true%>

    <%= f.label :contact_no %><br>
    <%= f.text_field :contact_no,placeholder: "Enter contact number ",autofocus: true,required:true %>

    <%= f.label :password %><br>
    <%= f.password_field :password,placeholder: "Enter Password",autofocus: true,required:true %>


    <%= f.submit "register",class:"button button2" %>
  </div>
<% end %>


</body>
</html>
